.questions{
    padding: 100px;
    margin-left: 50px;

}
@media (max-width: 480px) {
    .questions {
        padding: 20px;
        margin-left: 50px;
        height: 100%;
        padding-bottom: 300px;
    }

}